<div id="added-containers-box">
  <% if prototype %>
    <%= link_to_function "Add Ajax Container Here", "new Ajax.Request('/main/add_ajax_container', {asynchronous:true, evalScripts:true, method:'get', parameters:{prototype:true}})" %> ||
    <%= link_to_function "Add Container Here", "new Ajax.Request('/main/add_container', {asynchronous:true, evalScripts:true, method:'get', parameters:{prototype:true}})" %>
  <% else %>
    <%= link_to_remote "Add Ajax Container Here", :url => '/main/add_ajax_container' %> |
    <%= link_to_remote "Add Container Here", :url => '/main/add_container' %>
  <% end %>
  <div id="added-containers">
  </div>
</div>

<div id="ajax-container" class="box">
  This container has a tooltip loaded by ajax.
</div>

<%= context_tooltip("#ajax-tooltip", :contextElement => "'ajax-container'", :remoteUrlOptions => {:url => "'/main/ajax'"}) %>

<div id="positioned-ajax-container" class="box">
  This container has a positioned tooltip loaded by ajax.
</div>

<%= context_tooltip("#positioned-ajax-tooltip", :contextElement => "'positioned-ajax-container'", :remoteUrlOptions => {:url => "'/main/ajax'"}, :position => "'bottom-right'") %>

<div class="scrollBox">
  <div id="ajax-container-1" class="box">
    This container has a tooltip loaded by ajax.
  </div>
  <div id="ajax-container-2" class="box">
    This container has a tooltip loaded by ajax.
  </div>
  <div id="ajax-container-3" class="box">
    This container has a tooltip loaded by ajax.
  </div>
  <div id="ajax-container-4" class="box">
    This container has a tooltip loaded by ajax.
  </div>
</div>

<%= context_tooltip("#ajax-tooltip-1", :contextElement => "'ajax-container-1'", :remoteUrlOptions => {:url => "'/main/ajax'"}, :position => "'bottom-right'") %>
<%= context_tooltip("#ajax-tooltip-2", :contextElement => "'ajax-container-2'", :remoteUrlOptions => {:url => "'/main/ajax'"}, :position => "'bottom-right'") %>
<%= context_tooltip("#ajax-tooltip-3", :contextElement => "'ajax-container-3'", :remoteUrlOptions => {:url => "'/main/ajax'"}, :position => "'bottom-right'") %>
<%= context_tooltip("#ajax-tooltip-4", :contextElement => "'ajax-container-4'", :remoteUrlOptions => {:url => "'/main/ajax'"}, :position => "'bottom-right'") %>
