<% (1..4).each do |index| %>
<div id="my-container-<%= index  %>" class="box">
  <p>This is some text that is used in this box.</p>
  <%= image_tag 'rails.png', :alt => "A tooltip should appear here." %>
  <div id="my-tooltip-<%= index %>" class="tooltip">
    <p>This is a tooltip!</p>
    <%= image_tag 'rails.png', :alt => "An image in a tooltip is possible!" %>
    <span class="close">close tag</span>
    <a class="close">close link</a>
    <a onclick="closeTooltip('my-tooltip-<%= index %>')">close link without class</a>
    <input type="button" value="close button" class="close"/>
  </div>
  <%= context_tooltip("#my-tooltip-#{index}") %>
</div>
<% end %>