<% content_for :javascripts do %>
  <%= javascript_include_tag 'prototype', 'controls', 'effects', 'controls', 'application', context_tooltip_javascript_file(:library => 'prototype', :unobtrusive => false) %>
<% end %>

<%= render :partial => 'top_edges' %>

<h1>Prototype Version</h1>
<p id="see-other">See the <%= link_to "JQuery Version",  :action => 'index' %></p>

<div id="javascript-log"></div>

<%= link_to_function 'foo', :id => 'foo' do |page| page.replace_html 'foo', 'bar'; end %>

<%= render :partial => 'boxes' %>
<%= render :partial => 'nubbins' %>
<%= render :partial => 'ajax' %>
<%= render :partial => 'bottom_edges' %>